<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
          
<link rel="stylesheet" href="styles.css">
</head>
<body>
<section id="projects" class="projects">
            <div class="container">
                <a href="galery.html">
                 <div class="arquitectura">
                   <div class="img_container">
                       <div class="arq_img"></div>
                   </div>
                   <div class="arq_content">
                     <div class="arq_content_title" >ARQUITECTURA</div>
                    </div>

             </div>
            </a>
            <a href="galery.html">
                 <div class="concursos">
                     <div class="img_container">
                        <div class="conc_img"></div>
                     </div>
                     <div class="arq_content">
                       <div class="arq_content_title">CONCURSOS</div>
                      </div>
                  </div>
                </a>
                <a href="galery.html">
                 <div class="modular">
                      <div class="img_container">
                        <div class="mod_img"></div>
                      </div>
                      <div class="arq_content">
                        <div class="arq_content_title">ARQUITECTURA MODULAR</div>
                        </div>
                    </div>
                  </a>
                  <a href="galery.html">
                  <div class="mobiliario">
                      <div class="img_container">
                         <div class="mob_img"></div>
                        </div>
                        <div class="arq_content">
                          <div class="arq_content_title">MOBILIARIO</div>
                        </div>
                    </div>
                  </a>
                  <a href="galery.html">
                 <div class="mobile">
                     <div class="img_container_mobile">
                       <div class="mobiD_img"></div>
                     </div>
                     <div class="arq_content">
                       <div class="arq_content_title">MOBILE DESIGN</div>
                     </div>
                    </a>
                 </div>
                

        </div>
    </section>

    
    
</script>
    
</body>
</html>